In [ ]:
import pyodbc
import pandas as pd

In [ ]:
pyodbc.drivers()

In [ ]:
connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
                            "Server=DESKTOP-7DM81V0;" \
                            "Database=TriviaQuestions;" \
                            "Trusted_Connection=yes;"

In [ ]:
connection_string

In [ ]:
connection = pyodbc.connect(connection_string, autocommit=True)
cursor = connection.cursor()
h = "Questions"

sql_query = f"""DROP TABLE IF EXISTS Questions
                CREATE TABLE Questions
                (
                QuestionId INT IDENTITY CONSTRAINT pk_ProductId PRIMARY KEY,
                QuestionCategory NVARCHAR(50) CONSTRAINT nt_questionCategory NOT NULL,
                QuestionCorrectAnswer NVARCHAR(50) CONSTRAINT nt_questionCorrect NOT NULL,
                QuestionDifficulty  NVARCHAR(50) CONSTRAINT nt_questionDifficulty NOT NULL,
                QuestionIncorrectAnswers NVARCHAR(150) CONSTRAINT nt_questionIncorrectAnswers NOT NULL,
                Question NVARCHAR(150) CONSTRAINT nt_question NOT NULL,
                QuestionType NVARCHAR(120) CONSTRAINT nt_questionType NOT NULL
                )""" 
                    
cursor.execute(sql_query)
cursor.close()
connection.close()

In [ ]:
connection_string

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({ 'id': [1,2,3,4], 'letters': ['A', 'B', 'A', 'B']})

In [ ]:
df

In [ ]:
import json
import requests

In [ ]:
amount, category, difficulty = 50, 17, 'medium'
url = f"https://opentdb.com/api.php?amount={amount}" \
        f"&category={category}&difficulty={difficulty}"
url

In [ ]:
response = requests.get(url)
page = response.text
json_data = json.loads(page)
json_data = json_data["results"]

connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
                            "Server=DESKTOP-7DM81V0;" \
                            "Database=TriviaQuestions;" \
                            "Trusted_Connection=yes;"

#table columns names
columns_name = list(json_data[0].keys())

connection = pyodbc.connect(connection_string, autocommit=True)
cursor = connection.cursor()

#problem with F"{}" and ? --> How cancatied?????? 
for j in json_data:
    vlues = list(j.values())
    sql_query =  f"INSERT INTO {table_name}(?, ?, ?, ?, ?, ?) Values (?, ?, ?, ?, ?, ?)"

In [1]:
import pyodbc
from singletonCreateSQLdb import CreateSQL_DB
from downloadData import DownloadJsonFile
from createTablesSQL import CreateTableInSQLServer
from insertDataTableSQL import InsertDataToTableSqlServer

In [2]:
try:
    CreateSQL_DB(db_name='TriviaQuestions')
except Exception:
    print("Database TriviaQuestions already exists")

In [3]:
CreateTableInSQLServer().create_table()

In [4]:
param = [50, 17, 'medium']
jason_file = DownloadJsonFile(*param).internet_data_collect()

In [5]:
jason_file[0].keys()

dict_keys(['category', 'type', 'difficulty', 'question', 'correct_answer', 'incorrect_answers'])

In [6]:
from collections import OrderedDict
#alpha = OrderedDict(sorted(ages.items(), key=lambda x: x[0]))

In [7]:
def insert_categories(name):
    # connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
    #                     "Server=EXPERISDS1\SQLSERVER2017;" \
    #                     "Database=TriviaQuestions;" \
    #                     "Trusted_Connection=yes;"
    # Home Version
    connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
                        "Server=DESKTOP-7DM81V0;" \
                        "Database=TriviaQuestions;" \
                        "Trusted_Connection=yes;"
    connection = pyodbc.connect(connection_string)
    cursor = connection.cursor()
    
    sql_query = f"""
                  INSERT INTO Categories(CategoryName)
                  Select ? WHERE NOT EXISTS(SELECT * FROM Categories WHERE CategoryName=?)
                """
    inserted = cursor.execute(sql_query, name, name).rowcount
    connection.commit()
    cursor.close()
    connection.close()
    return inserted

In [18]:
# connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
#                         "Server=DESKTOP-7DM81V0;" \
#                         "Database=TriviaQuestions;" \
#                         "Trusted_Connection=yes;"
# connection = pyodbc.connect(connection_string)
# cursor = connection.cursor()
    
# sql_query = f"""select * from Categories"""
# inserted = cursor.execute(sql_query).rowcount
# connection.commit()
# cursor.close()
# connection.close()

In [9]:
for i, json_one in enumerate(jason_file, 1):
    one = OrderedDict(sorted(json_one.items(), key=lambda x: x[0]))
    if i < 6:
        keys, val = list(zip(*one.items()))
        # print(f,end='\n\n')
        for j, key in enumerate(keys,1):
            if j < 2:
                print(key)
                name = one[key]
                print(name, end='\n\n')
                print(insert_categories(name))
            
            
            
#             if type(name) is list:
#                 for item in name:
#                     print(item)

category
Science & Nature

0
category
Science & Nature

0
category
Science & Nature

0
category
Science & Nature

0
category
Science & Nature

0

In [ ]:
#table = InsertDataToTableSqlServer().drop_tables()

In [ ]:
set(zip(*jason_file))