In [ ]:
import pyodbc
import pandas as pd

In [ ]:
pyodbc.drivers()

In [ ]:
connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
                            "Server=DESKTOP-7DM81V0;" \
                            "Database=TriviaQuestions;" \
                            "Trusted_Connection=yes;"

In [ ]:
connection_string

In [ ]:
connection = pyodbc.connect(connection_string, autocommit=True)
cursor = connection.cursor()
h = "Questions"

sql_query = f"""DROP TABLE IF EXISTS Questions
                CREATE TABLE Questions
                (
                QuestionId INT IDENTITY CONSTRAINT pk_ProductId PRIMARY KEY,
                QuestionCategory NVARCHAR(50) CONSTRAINT nt_questionCategory NOT NULL,
                QuestionCorrectAnswer NVARCHAR(50) CONSTRAINT nt_questionCorrect NOT NULL,
                QuestionDifficulty  NVARCHAR(50) CONSTRAINT nt_questionDifficulty NOT NULL,
                QuestionIncorrectAnswers NVARCHAR(150) CONSTRAINT nt_questionIncorrectAnswers NOT NULL,
                Question NVARCHAR(150) CONSTRAINT nt_question NOT NULL,
                QuestionType NVARCHAR(120) CONSTRAINT nt_questionType NOT NULL
                )""" 
                    
cursor.execute(sql_query)
cursor.close()
connection.close()

In [ ]:
connection_string

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({ 'id': [1,2,3,4], 'letters': ['A', 'B', 'A', 'B']})

In [ ]:
df

In [ ]:
import json
import requests

In [ ]:
amount, category, difficulty = 50, 17, 'medium'
url = f"https://opentdb.com/api.php?amount={amount}" \
        f"&category={category}&difficulty={difficulty}"
url

In [ ]:
response = requests.get(url)
page = response.text
json_data = json.loads(page)
json_data = json_data["results"]

connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
                            "Server=DESKTOP-7DM81V0;" \
                            "Database=TriviaQuestions;" \
                            "Trusted_Connection=yes;"

#table columns names
columns_name = list(json_data[0].keys())

connection = pyodbc.connect(connection_string, autocommit=True)
cursor = connection.cursor()

#problem with F"{}" and ? --> How cancatied?????? 
for j in json_data:
    vlues = list(j.values())
    sql_query =  f"INSERT INTO {table_name}(?, ?, ?, ?, ?, ?) Values (?, ?, ?, ?, ?, ?)"

In [ ]:
#from createTablesSQLOneToMany import CreateTableInSQLServer
#from insertDataTableSQL import InsertDataToTableSqlServer

In [1]:
import pyodbc
from singletonCreateSQLdb import CreateSQL_DB
from downloadData import DownloadJsonFile
from createProcedure import CreateProcedureToInsertData
from createTablesSQLManyToMany import CreateTableInSQLServer
from collections import OrderedDict

In [11]:
connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
                    "Server=EXPERISDS1\SQLSERVER2017;" \
                    "Database=TriviaQuestions;" \
                    "Trusted_Connection=yes;"
# Home Version
# connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
#                     "Server=DESKTOP-7DM81V0;" \
#                     "Database=TriviaQuestions;" \
#                     "Trusted_Connection=yes;"

Create Data Base 'TriviaQuestions'

In [12]:
try:
    CreateSQL_DB(db_name='TriviaQuestions',conn_str=connection_string)
except Exception:
    print("Database TriviaQuestions already exists")

Database TriviaQuestions already exists

Create Tables Connections

In [8]:
CreateTableInSQLServer().create_table(conn_str=connection_string)

InterfaceError: ('28000', '[28000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Login failed for user \'EXPERISDS1\\USER1\'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Cannot open database "TriviaQuestions" requested by the login. The login failed. (4060); [28000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Login failed for user \'EXPERISDS1\\USER1\'. (18456); [28000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Cannot open database "TriviaQuestions" requested by the login. The login failed. (4060)')

Create Procedure

In [9]:
CreateProcedureToInsertData().create_procedure(conn_str=connection_string)

InterfaceError: ('28000', '[28000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Login failed for user \'EXPERISDS1\\USER1\'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Cannot open database "TriviaQuestions" requested by the login. The login failed. (4060); [28000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Login failed for user \'EXPERISDS1\\USER1\'. (18456); [28000] [Microsoft][ODBC Driver 13 for SQL Server][SQL Server]Cannot open database "TriviaQuestions" requested by the login. The login failed. (4060)')

Download Data

In [ ]:
param = [50, 17, 'medium']
json_file = DownloadJsonFile(*param).internet_data_collect()

Inserting Data To SQLdb

In [ ]:
sql = "{CALL InsertIntoTables (?, ?, ?, ?, ?, ?) }"
connection = pyodbc.connect(connection_string)
cursor = connection.cursor()
for json_one in json_file:
    #one = OrderedDict(sorted(json_one.items(), key=lambda x: x[0]))
    origin = list(json_one.values())
    multiply_incorect = origin.pop()  
    for incorect in multiply_incorect:
        origin.append(incorect)
        cursor.execute(sql,origin)
        cursor.commit()
        print(origin)
        origin.remove(incorect)

cursor.close()
connection.close()

In [ ]:
CreateTableInSQLServer().drop_tables(conn_str=connection_string)
CreateProcedureToInsertData().drop_procedure(conn_str=connection_string)

In [ ]:

origin = ['Science & Nature', 'multiple', 'medium', 'Along with Oxygen, which element is primarily responsible for the sky appearing blue?', 'Nitrogen', ['Helium', 'Carbon', 'Hydrogen']]
multiply_incorect = origin.pop()
for incorect in multiply_incorect:
    origin.append(incorect)
    print(origin)
    origin.remove(incorect)

In [ ]:
# def insert_category(name, connection_string):    
#     sql_query = f"""
#                   INSERT INTO Categories(CategoryName)
#                   Select ? WHERE NOT EXISTS(SELECT * FROM Categories WHERE CategoryName=?)
#                 """
#     connection = pyodbc.connect(connection_string)
#     cursor = connection.cursor()
    
#     inserted = cursor.execute(sql_query, name, name).rowcount
#     connection.commit()
#     cursor.close()
#     connection.close()
#     return inserted

In [ ]:
# def insert_difficulty(name, connection_string):    
#     sql_query = f"""
#                   INSERT INTO Difficulties(Difficulty)
#                   Select ? WHERE NOT EXISTS(SELECT * FROM Difficulties WHERE Difficulty=?)
#                 """
#     connection = pyodbc.connect(connection_string)
#     cursor = connection.cursor()
    
#     inserted = cursor.execute(sql_query, name, name).rowcount
#     connection.commit()
#     cursor.close()
#     connection.close()
#     return inserted

In [ ]:
# def insert_question(name, connection_string):    
#     sql_query = f"""
#                   INSERT INTO Questions(Question)
#                   Select ? WHERE NOT EXISTS(SELECT * FROM Questions WHERE Question=?)
#                 """
#     connection = pyodbc.connect(connection_string)
#     cursor = connection.cursor()
    
#     inserted = cursor.execute(sql_query, name, name).rowcount
#     connection.commit()
#     cursor.close()
#     connection.close()
#     return inserted

In [ ]:
# def insert_type(name, connection_string):    
#     sql_query = f"""
#                   INSERT INTO Type(QuestionType)
#                   Select ? WHERE NOT EXISTS(SELECT * FROM Type WHERE QuestionType=?)
#                 """
#     connection = pyodbc.connect(connection_string)
#     cursor = connection.cursor()
    
#     inserted = cursor.execute(sql_query, name, name).rowcount
#     connection.commit()
#     cursor.close()
#     connection.close()
#     return inserted

In [ ]:
# def update_id(connection_string):
#     sql_query = f"""              
#                   UPDATE Questions
#                   SET CategoryId=(SELECT CategoryId
#                                   FROM Categories)
#                   UPDATE Questions
#                   SET DifficultyID=(SELECT DifficultyID
#                                            FROM Difficulties)
                                           
#                   UPDATE Questions
#                   SET TypeId=(SELECT TypeId
#                               FROM Type)
#                 """
#     connection = pyodbc.connect(connection_string)
#     cursor = connection.cursor()
    
#     update = cursor.execute(sql_query).rowcount
#     connection.commit()
#     cursor.close()
#     connection.close()

# # UPDATE Questions
# # SET CategoryId=(SELECT CategoryId
# #   FROM Categories)

# # UPDATE Questions
# # SET DifficultyID=(SELECT DifficultyID
# #   FROM Difficulty)

In [ ]:
# def stam(name, connection_string):
#     pass

In [ ]:
# dispatch_insert = {
#     'category': insert_category,
#     'difficulty': insert_difficulty,
#     'question': insert_question,
#     'correct_answer': stam,
#     'incorrect_answers': stam,
#     'type': insert_type
# }

In [ ]:
# connection_string = "Driver={ODBC Driver 13 for SQL Server};" \
#                         "Server=DESKTOP-7DM81V0;" \
#                         "Database=TriviaQuestions;" \
#                         "Trusted_Connection=yes;"
# connection = pyodbc.connect(connection_string)
# cursor = connection.cursor()
    
# sql_query = f"""select * from Categories"""
# inserted = cursor.execute(sql_query).rowcount
# connection.commit()
# cursor.close()
# connection.close()

In [ ]:


for i, json_one in enumerate(jason_file, 1):
    one = OrderedDict(sorted(json_one.items(), key=lambda x: x[0]))
    if i < 100:
        keys, val = list(zip(*one.items()))
        # print(f,end='\n\n')
        for j, key in enumerate(keys,1):
            if j < 10:
                print(key)
                name = one[key]
                print(name)
                print(dispatch_insert[key](name,connection_string), end='\n\n')
                update_id(connection_string)
            
            
            
#             if type(name) is list:
#                 for item in name:
#                     print(item)

In [ ]:
#table = InsertDataToTableSqlServer().drop_tables()

In [ ]:
set(zip(*jason_file))

In [ ]:
def power_2(x):
    return x**2
def power_3(x):
    return x**3
def power_4(x):
    return x**4

In [ ]:
f = {'aaa': power_2, 'bbb': power_3, 'ccc': power_4 }
names = ['aaa', 'bbb', 'ccc'] 

for n in names:
    print(f[n](2))

In [ ]:
def do_ping(self, arg):
    return 'Pong, {0}!'.format(arg)

def do_ls(self, arg):
    return '\n'.join(os.listdir(arg))

dispatch = {
    'ping': do_ping,
    'ls': do_ls,
}

def process_network_command(command, arg):
    send(dispatch[command](arg))